<h2>Blogs</h2>
    <h3>This is the second section</h3>

 <blockquote class="embedly-card"><h4><a href="https://medium.com/coding-den/fields-of-programming-67e8a0976d4b">Fields of Programming - Coding Den - Medium</a></h4><p>The field of computer science is exceptionally vast and ever-expanding. It will take a lifetime to just fathom its depth, forget mastering all the diversified fields. However, it's 'programming' which is ubiquitous in the various branches of computer science.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://medium.com/coding-den/fields-of-programming-67e8a0976d4b">Fields of Programming - Coding Den - Medium</a></h4><p>The field of computer science is exceptionally vast and ever-expanding. It will take a lifetime to just fathom its depth, forget mastering all the diversified fields. However, it's 'programming' which is ubiquitous in the various branches of computer science.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>