
<app-bar></app-bar>
 <div id="fullpage">
  <section class="vertical-scrolling">
    <h2>Coding Den</h2>
    <h3>This is the first section</h3>
 <!--    <div class="scroll-icon">
      <p>Jump into the last slide</p>
      <a href="#fifthSection/1" class="icon-up-open-big"></a>
    </div> -->
  </section>



  <section class="vertical-scrolling">
    <app-about></app-about>
  </section>


  <section class="vertical-scrolling">
    <app-body></app-body>
  </section>



  <section class="vertical-scrolling">
    <app-team></app-team>
  </section>



  <section class="vertical-scrolling">
    <app-footer></app-footer>
  </section>
</div>